* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.main-container {
	margin: 0 auto;
	width: 35%;
	border: 1px solid #eaeaea;
	height: 400px;
	margin-top: 7%;
}

.main-link-item {
	border: 1px solid #cccccc;
	display: block;
	text-align: center;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
	color: #000;
	margin-top: 15%;
}

.main-line {
	width: 80%;
	border-bottom: 1px solid #dcdcdc;
	margin: 0 auto;
	margin-top: 4%;
}

.naver-login, .kakao-login {
	width: 80%;
	margin: 0 auto;
	color: #555555;
	background-color: #fafafa;
	height: 43px;
	font-size: 12px;
	cursor: pointer;
}

.naver-login {
	margin-top: 4%;
	
}

.kakao-login {
	margin-top: 10px;

}

.naver-img {
	width: 40%;
	margin-left: 12px;
	margin-top: 12px;
}

.kakao-img {
	width: 50%;
	margin-left: 10px;
	margin-top: 12px;
}

.naver-item {
	float: left;
	margin-top: 12px;
	padding-left: 10px;
	transition: 0.3s;
}

.kakao-item {
	float: left;
	margin-top: 12px;
	padding-left: 10px;
	transition: 0.3s;
}

.last-write {
	color: #a4a4a4;
	font-size: 12px;
}

.last-write {
	padding-left: 10%;
	margin-top: 3%;
}

.naver-box {
	background-color: #01c73c;
	width: 43px;
	height: 43px;
	display: block;
	float: left;
}

.kakao-box {
	background-color: #fae100;
	width: 43px;
	height: 43px;
	display: block;
	float: left;
}

.naver-login:hover>.naver-item {
	color: rgb(175, 175, 175);
}

.kakao-login:hover>.kakao-item {
	color: rgb(175, 175, 175);
}

.finally {
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
	color: #666666;
	margin-top: 1%;
}

.finally-login {
	color: #555555;
}

.finally-login:hover {
	color: rgb(141, 141, 141);
	text-decoration: underline;
}