<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.emp">

	<select id="selectAll" resultType="EmpDTO" parameterType="hashmap">
	select empno,ename,job,mgr, to_char(hiredate,'YYYY-MM-DD')hiredate,sal,comm,deptno 
	from emp 
	
     <where>
	  <if test="searchName == 'hiredate'">
	       to_char(hiredate,'YYYY')  like '%'||#{searchValue}||'%' 
	  </if>
	  <if test="searchName == 'ename'">
	      upper(ename) like upper('%'||#{searchValue}||'%') 
	  </if>
     </where>
	
	order by empno desc
<!-- 		SELECT empno, ename, job, mgr, to_char(hiredate,'YYYY-MM-DD') hiredate, sal, comm, deptno  -->
<!-- 		FROM emp -->
<!-- 		WHERE 1=1 -->
<!-- 		<if test="hiredate != null and hiredate != ''"> -->
<!-- 			AND TO_CHAR(hiredate, 'YYYY') = #{hiredate} -->
<!-- 	    </if> -->

<!-- 		<if test="ename != null and ename != ''"> -->
<!-- 	        AND UPPER(ename) LIKE '%' || UPPER(#{ename}) || '%' -->
<!-- 	    </if> -->
		
<!-- 		order by empno desc -->
	</select>

    <insert id="insert" parameterType="EmpDTO">
     insert into emp ( empno, ename, job , mgr , hiredate , sal )
     values ( #{empno}, #{ename}, #{job}, #{mgr}, sysdate, #{sal})
    </insert>

   <select id="selectByEmpno" resultType="EmpDTO" parameterType="int">
	select empno,ename,job,mgr, to_char(hiredate,'YYYY-MM-DD')hiredate,sal,comm,deptno 
	from emp 
	where empno = #{empno}
	</select>
	
	<update id="update" parameterType="EmpDTO">
	 update emp
	 set job = #{job} , sal = #{sal}
	 where empno = #{empno}
	</update>
	
	<delete id="delete" parameterType="int">
	 delete from emp
	 where empno = #{empno}
	</delete>
</mapper>