* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

#userid {
	padding-left: 5px;
	width: 17%;
	margin-top: 3%;
	border: 1px solid #c0c0c0;
	line-height: 40px;
	outline: none;
}

#passwd {
	padding-left: 5px;
	width: 17%;
	margin-top: 5px;
	border: 1px solid #c0c0c0;
	line-height: 40px;
	outline: none;
}

.main-name {
	font-size: 35px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}

.p-login {
	font-size: 14px;
	width: 17%;
	line-height: 40px;
	text-align: center;
	background-color: rgb(73, 149, 221);
	margin: 0 auto;
	margin-top: 10px;
	color: #fff;
	cursor: pointer;
}

.iph {
	margin-top: 0.7%;
}

.id, .password, .heiwon {
	color: #000;
	font-size: 14px;
	display: inline-block;
	color: #666;
}

.id {
	margin-right: 0.3%;
}

.heiwon {
	margin-right: 5.3%;
}


.ll {
	display: inline-block;
	margin-right: 5px;
	font-size: 11px;
	color: #666;
}

.kakao, .facebook, .naver {
	width: 17%;
	line-height: 40px;
	display: block;
	margin: 0 auto;
	font-size: 13px;
}

.kakao {
	margin-top: 3%;
	width : 17%;
	background-color: #fee500;
	color: #000;
	font-weight: bold;
	position: relative;
}

.naver {
	width: 17%;
	background-color: #1ec800;
	color: #fff;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
	text-align: center;
}

.kakao-img {
	width: 6%;
	position: absolute;
	left: 3%;
	top: 30%;
}

.facebook-img {
	width: 3.8%;
	position: absolute;
	left: 3.5%;
	top: 26%;
}

.naver-img {
	width: 5.3%;
	position: absolute;
	left: 3%;
	top: 31%;
}