<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- DB언더바 때문에 추가 -김봉근- -->
            <setting name="mapUnderscoreToCamelCase" value="true" />
        </settings>
        <typeAliases>
            <!-- <typeAlias type="com.dto.BoardDTO" alias="BoardDTO" /> -->
        </typeAliases>
</configuration>