<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acorn.sixman.dao.OrderDAO">
	
	<insert id="insertOrder" parameterType="com.acorn.sixman.dto.OrderDTO">
		INSERT INTO ORDER_DETAIL
		(
			ORDER_ID
			,ORDER_PRODUCT_ID
			,ORDER_USER_ID
			,ORDER_SELLER_ID
			--,ORDER_STATUS
			,ORDER_REG_DATE
			,ORDER_UPDATE_DATE
			,ORDER_RECV_PHONE
			,ORDER_AMOUNT
			,ORDER_RECV_ADDRESS_NUMBER
			,ORDER_PAYMENT_PRICE
			,ORDER_RECV_ADDRESS_ROAD
			,ORDER_PROD_PRICE
			,ORDER_DELIVERY_PRICE
			,ORDER_RECV_NAME
			,ORDER_PAY_METHOD
		)
		VALUES
		(
			#{orderId}
			,#{orderProductId}
			,#{orderUserId}
			,#{orderSellerId}
			--,orderStatus
			,CURRENT_DATE
			,CURRENT_DATE
			,#{orderRecvPhone}
			,#{orderAmount}
			,#{orderRecvAddressNumber}
			,#{orderPaymentPrice}
			,#{orderRecvAddressRoad}
			,#{orderProdPrice}
			,#{orderDeliveryPrice}
			,#{orderRecvName}
			,#{orderPayMethod}
		)
	</insert>
	
	<select id="selectOrderByUserId" resultType="com.acorn.sixman.dto.OrderDTO" parameterType="String">
		SELECT
			ORDER_ID                  AS orderId
			,ORDER_PRODUCT_ID          AS orderProductId
			,ORDER_USER_ID             AS orderUserId
			,ORDER_SELLER_ID           AS orderSellerId
			,ORDER_STATUS              AS orderStatus
			,ORDER_REG_DATE            AS orderRegDate
			,ORDER_UPDATE_DATE         AS orderUpdateDate
			,ORDER_RECV_PHONE          AS orderRecvPhone
			,ORDER_AMOUNT              AS orderAmount
			,ORDER_RECV_ADDRESS_NUMBER AS orderRecvAddressNumber
			,ORDER_PAYMENT_PRICE       AS orderPaymentPrice
			,ORDER_RECV_ADDRESS_ROAD   AS orderRecvAddressRoad
			,ORDER_PROD_PRICE          AS orderProdPrice
			,ORDER_DELIVERY_PRICE      AS orderDeliveryPrice
			,ORDER_RECV_NAME           AS orderRecvName
			,ORDER_PAY_METHOD			AS orderPayMethod
			,B.ORDER_STATUS_DESC		AS displayStatus
		FROM ORDER_DETAIL A
			,ORDER_STATUS_CODE B
		WHERE 1=1
			AND ORDER_USER_ID = #{uesrId}
			AND A.ORDER_STATUS = B.ORDER_STATUS_ID
		ORDER BY ORDER_ID
	</select>
	
	<select id="selectPayMethodList" resultType="com.acorn.sixman.dto.PayMethodDTO">
		SELECT
			PAY_METHOD_ID		AS payMethodId
			,PAY_METHOD_NAME    AS payMethodName
			,PAY_METHOD_DESC    AS payMethodDesc
			,PAY_METHOD_SEQ     AS payMethodSeq
		FROM ORDER_PAY_METHOD_CODE
		ORDER BY PAY_METHOD_SEQ
	</select>
	
	<select id="selectPayMethodIdByDesc" resultType="String" parameterType="String">
		SELECT
			PAY_METHOD_ID		AS payMethodId
		FROM ORDER_PAY_METHOD_CODE
		WHERE PAY_METHOD_DESC = #{payMethodDesc}
		
	</select>
	
	<select id="selectOrderByOrderId" resultType="com.acorn.sixman.dto.OrderDTO" parameterType="String">
		SELECT
			ORDER_ID                  AS orderId
			,ORDER_PRODUCT_ID          AS orderProductId
			,ORDER_USER_ID             AS orderUserId
			,ORDER_SELLER_ID           AS orderSellerId
			,ORDER_STATUS              AS orderStatus
			,ORDER_REG_DATE            AS orderRegDate
			,ORDER_UPDATE_DATE         AS orderUpdateDate
			,ORDER_RECV_PHONE          AS orderRecvPhone
			,ORDER_AMOUNT              AS orderAmount
			,ORDER_RECV_ADDRESS_NUMBER AS orderRecvAddressNumber
			,ORDER_PAYMENT_PRICE       AS orderPaymentPrice
			,ORDER_RECV_ADDRESS_ROAD   AS orderRecvAddressRoad
			,ORDER_PROD_PRICE          AS orderProdPrice
			,ORDER_DELIVERY_PRICE      AS orderDeliveryPrice
			,ORDER_RECV_NAME           AS orderRecvName
			,ORDER_PAY_METHOD			AS orderPayMethod
			,B.ORDER_STATUS_DESC		AS displayStatus
			,C.PAY_METHOD_DESC			AS orderPayMethodDesc
		FROM ORDER_DETAIL A
			,ORDER_STATUS_CODE B
			,ORDER_PAY_METHOD_CODE C
		WHERE 1=1
			AND ORDER_ID = #{orderId}
			AND A.ORDER_STATUS = B.ORDER_STATUS_ID
			AND A.ORDER_PAY_METHOD = C.PAY_METHOD_ID
	</select>
	
	<!-- <select id="processList" parameterType="String" resultType="com.acorn.sixman.dto.ProcessListDTO">
		select 
			ORDER_ID                  AS orderId
			,ORDER_PRODUCT_ID          AS orderProductId
			,ORDER_USER_ID             AS orderUserId
			,ORDER_SELLER_ID           AS orderSellerId
			,ORDER_STATUS              AS orderStatus
			,ORDER_REG_DATE            AS orderRegDate
			,ORDER_UPDATE_DATE         AS orderUpdateDate
			,ORDER_RECV_PHONE          AS orderRecvPhone
			,ORDER_AMOUNT              AS orderAmount
			,ORDER_RECV_ADDRESS_NUMBER AS orderRecvAddressNumber
			,ORDER_PAYMENT_PRICE       AS orderPaymentPrice
			,ORDER_RECV_ADDRESS_ROAD   AS orderRecvAddressRoad
			,ORDER_PROD_PRICE          AS orderProdPrice
			,ORDER_DELIVERY_PRICE      AS orderDeliveryPrice
			,ORDER_RECV_NAME           AS orderRecvName
			,ORDER_PAY_METHOD			AS orderPayMethod
			,PRODUCT_ID              AS productId
			,PRODUCT_NAME           AS productName
			,PRODUCT_PRICE          AS productPrice
			,PRODUCT_DELIVERY_PRICE	AS productDeliveryPrice
			,PRODUCT_MODEL          AS productModel
			,PRODUCT_MAKER          AS productMaker
			,PRODUCT_MADEIN         AS productMadein
			,PRODUCT_STOCK          AS productStock
			,PRODUCT_SELLER         AS productSeller
			,PRODUCT_REG_DATE       AS productRegDate
			,PRODUCT_PREVIEW        AS productPreview
			,PRODUCT_CONTENT        AS productContent
			,PRODUCT_CATEGORY       AS productCategory
		from ORDER_DETAIL 
		join product_detail on (ORDER_PRODUCT_ID = product_id)
		where ORDER_SELLER_ID = #{sellerId}
	</select> -->
	
</mapper>