	#writeBox{
		width: 90%;
		margin: auto;
	}
	#writeBoxOut{
		background-color: #f8f9fa;
		border: 1px solid grey;
	}
	#writeTB{
		border: none;
	}
	#content{
		height: 800px;
		resize: none;
		border: none;
		background-color: white;
	}
	#nTableTop, #nTableBot{
		height: 20px;
	}
	#Category, #subCategory,#title{
		padding-left: 10px;
	}